body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#ground {
    width: 800px;
    height: 600px;
    margin-top: 50px;
    border: 2px solid;
    position: relative;
}

#ball {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: blueviolet;
    position: absolute;
    /* top: 450px; */
    /* left: 650px; */
}